@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

/* 디자인 토큰 */
:root {
  /* colors */
  /* primary */
  --pink-100: #ffd1e0;
  --pink-200: #ff9ebe;
  --pink-300: #ff6b9c;
  --pink-400: #ff3388;
  --pink-500: #ff0558;
  --pink-600: #d10045;

  --pink-700: #9e0034;
  --pink-800: #6b0024;
  --pink-900: #380013;

  /* secondary */
  --green-100: #feffff;
  --green-200: #d2f6f8;
  --green-300: #a6edf1;
  --green-400: #7ae4ea;
  --green-500: #4edce3;
  --green-600: #23d2db;
  --green-700: #1ca8af;
  --green-800: #157e83;
  --green-900: #0e5457;

  /* neutral */
  --neutral-50: #f5f5f5;
  --neutral-100: #eef0f1;
  --neutral-200: #d1d8db;
  --neutral-300: #b4bfc5;
  --neutral-400: #97a6af;
  --neutral-500: #7a8e99;
  --neutral-600: #62747e;
  --neutral-700: #4b5a62;
  --neutral-800: #353f45;
  --neutral-900: #1f2528;

  /* semantic */
  --error-default: #ff4d4d;
  --error-bg: #ffe5e5;
  --error-text: #b34d4d;
  --warning-default: #ff9933;
  --warning-bg: #fff2e5;
  --warning-text: #f2800d;
  --success-default: #4caf50;
  --success-bg: #eaf6eb;
  --sucesss-text: #3d8b40;
  --accent-default: #e61e60;
  --accent-soft: #f07aa1;
  --accent-text: #bc154c;
  --caution-default: #ffe91d;
  --caution-bg: #fffacf;
  --caution-text: #000;
  --info-default: #3184df;
  --info-bg: #e2edfa;
  --info-text: #175293;

  /* spacing */
  --spacing-4: 4px;
  --spacing-8: 8px;
  --spacing-12: 12px;
  --spacing-16: 16px;
  --spacing-20: 20px;
  --spacing-24: 24px;

  /* font size */
  --size-xxs: 8px;
  --size-xs: 10px;
  --size-sm: 12px;
  --size-md: 14px;
  --size-lg: 16px;
  --size-xl: 18px;
  --size-2xl: 20px;
  --size-2xl: 22px;
  --size-3xl: 24px;
  --size-4xl: 26px;
  --size-5xl: 28px;
  --size-6xl: 30px;
  --size-7xl: 32px /* System Token */ /* Background */
    --color-bg-primary: var(--gray-50);
  --color-bg-inverse: var(--gray-900);

  /* Text */
  --color-text-primary: var(--gray-900);
  --color-text-inverse: var(--gray-50);

  /* responsive */
  /* layout spacing */
  --layout-padding-sm: 16px;
  --layout-padding-md: 24px;

  /* container */
  --container-max: 1280px;
}

/* typography */
.heading-1 {
  font-size: var(--size-5xl);
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.02em;
}
.heading-2 {
  font-size: var(--size-3xl);
  font-weight: 600;
  line-height: 36px;
  letter-spacing: -0.02em;
}
.heading-3 {
  font-size: var(--size-xl);
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.02em;
}
.body {
  font-size: var(--size-lg);
  font-weight: 300;
  line-height: 24px;
  letter-spacing: -0.02em;
}
.caption {
  font-size: var(--size-md);
  font-weight: 300;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.sm {
  font-size: var(--size-sm);
  font-weight: 300;
  line-height: 16px;
  letter-spacing: -0.02em;
}

.xs {
  font-size: var(--size-xs);
  font-weight: 300;
  line-height: 12px;
  letter-spacing: -0.02em;
}

.xxs {
  font-size: var(--size-xxs);
  font-weight: 300;
  line-height: 10px;
  letter-spacing: -0.02em;
}

/* css 리셋 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
}
body,
button {
  overflow-x: hidden;
  font-size: var(--size-md);
  color: var(--caution-text);
  background-color: var(--color-bg-primary);
  font-family: "Pretendard", sans-serif;
}
ul,
li {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 0;
}
/* Component Token */
/* Layout */
.layout {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container {
  position: relative;
  width: 100%;
  max-width: var(--container-max);
  flex: 1;
  padding: 0 16px;
  background-color: #feffff;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--spacing-16);
}
/* .thumbnail {
  overflow: hidden;
  /* min-width: 350px; */
/* min-height: 320px; 
  aspect-ratio: 350/320;
  border-radius: var(--spacing-4);
} */

/* .card-thumbnail {
  overflow: hidden;
  aspect-ratio: 115/165;
} */

@media screen and (min-width: 768px) {
  .container {
    padding: 0 24px;
  }
  /* 
  .card-container {
    grid-template-columns: repeat(3, 1fr);
    gap: var(--spacing-20);
  } */
}
@media screen and (min-width: 1024px) {
  .container {
    padding: 0 40px;
  }
}

/* button */
/* .btn { */
/* 기본 스타일 제거 */
/* appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  border: none;
  background: none;
  padding: 0;
  margin: 0; */
/* cursor: pointer; */
/* background-color: var(--pink-500);
  color: var(--neutral-100);
  padding: var(--spacing-16) var(--spacing-12);
  border-radius: var(--spacing-12);
  width: 100%;
  font-weight: 500;
}
button:focus-visible {
  outline: 2px solid #523dee;
  outline-offset: 2px;
} */

/* 비활성 상태 */
/* button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
} */

.login-wrap {
  width: 100%;
  max-width: 375px;
  min-height: 812px;
  margin: 0 auto;
  background: #e80e57;
}

.hero {
  position: relative;
  height: 610px;
  background:
    linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 89%),
    #f0065d;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-title {
  color: var(--green-100);
  margin-top: 83px;
}
.logo {
  margin-top: 116px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-logo {
  width: 200px;
  height: 160px;
  object-fit: contain;
  display: block;
}
.hero-login-text {
  margin: 0;
  width: 100%;
  text-align: center;
  color: var(--green-100);
}

.login-actions {
  background: #ffffff;
  padding: 18px 18px 16px 18px;
}

.login-btn {
  width: 100%;
  max-width: 345px;
  height: 40px;
  border: none;
  border-radius: var(--spacing-4);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
  margin: 0 auto 8px;
}
.login-btn.kakao {
  background: var(--caution-default);
  color: (var(--caution-text));
}
.btn-icon {
  position: absolute;
  left: 10px;
  width: 16px;
  height: 15px;
}

.login-btn span {
  display: inline-block;
}
.login-btn.google,
.login-btn.email {
  background: #ffffff;
  color: var(--caution-text);
  border: 0.5px solid var(--neutral-300);
}
.login-btn.option {
  background: #ffffff;
}

/* onboarding */
.onboarding {
  width: 100%;
  max-width: 375px;
  min-height: 812px;
  margin: 0 auto;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.status-bar {
  width: 100%;
  /* align-self: stretch; */
  padding: 0 14px;
}

.status-bar img {
  display: block;
  width: 100%;
  height: auto;
}
.onboarding-logo {
  width: 234px;
  height: auto;
  /* object-fit: contain; */
  display: block;
}
.onboarding-title {
  margin-top: 39px;
}

.onboarding-text {
  color: var(--neutral-500);
}

.onboarding-actions {
  width: 100%;
  margin-top: 86px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 17px 0 18px;
}

.signup,
.guest {
  width: 100%;
  height: 48px;
  border: none;
  border-radius: var(--spacing-24);
  font-size: var(--size-xl);
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.02em;
}

.signup {
  background: var(--pink-500);
  color: var(--green-100);
}

.guest {
  background: var(--green-100);
  color: var(--caution-text);
}

/* signup */
.signup-page {
  width: 100%;
  max-width: 375px;
  min-height: 812px;
  margin: 0 auto;
  padding: 0 20px 101px;
  background: #ffffff;
}
.signup-title {
  text-align: center;
  margin-top: 30px;
}
.signup-form {
  margin-top: 30px;
}
.form-group + .form-group {
  margin-top: 10px;
}
.form-label {
  display: block;
  font-size: var(--size-md);
  font-weight: 300;
  line-height: 20px;
  letter-spacing: -0.02em;
}
.password-wrap {
  position: relative;
}

.password-wrap.form-input {
  padding-right: 6px;
}
.toggle-password {
  display: none;
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  border: none;
  background: transparent;
  color: var(--neutral-500);
  font-size: var(--size-sm);
  cursor: pointer;
}

.eye-icon {
  display: block;
  width: 16px;
  height: 16px;
}

.password-wrap.has-value .toggle-password {
  display: block;
}
.form-input {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: var(--spacing-4);
  background: var(--green-100);
  padding-left: 6px;
  color: var(--caution-text);
  font-size: var(--size-sm);
  line-height: 16px;
  letter-spacing: -0.02em;
}

.form::placeholder {
  color: var(--neutral-400);
}
.form-input:focus {
  outline: none;
  border: 1px solid var(--pink-500);
  background: #ffffff;
}
.input-row {
  display: grid;
  grid-template-columns: 1fr 120px;
  gap: 21px;
}

.form-btn:disabled,
.submit-btn:disabled {
  height: 40px;
  border-radius: var(--spacing-4);
  background: var(--green-100);
  color: var(--caution-text);
  cursor: not-allowed;
  border: none;
}

.form-btn:not(:disabled),
.submit-btn:not(:disabled) {
  background: var(--pink-500);
  color: var(--green-100);
  cursor: pointer;
  border: none;
  border-radius: var(--spacing-4);
}

.submit-btn {
  width: 100%;
  height: 48px;
  margin-top: 66px;
  border: none;
  border-radius: var(--spacing-4);
  background: var(--green-100);
  color: var(--neutral-400);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.02em;
}
.password-message,
.email-message,
.birth-message,
.phone-message,
.password-rule-message {
  margin-top: 6px;
  font-size: 12px;
  color: var(--pink-500);
  text-align: left;
}

/* home */

.home {
  width: 100%;
  max-width: 375px;
  min-height: 812px;

  background: #ffffff;
}
.status-bar {
  padding: 0;
}
.status-bar img {
  width: 100%;
  display: block;
  height: auto;
}

.home-header {
  position: relative;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-title {
  color: #000;
  font-size: var(--size-xl);
  font-weight: 600;
}
.alarm-btn {
  position: relative;
  left: 146px;
  border: none;
  background: none;
  padding: 4;
  cursor: pointer;
}

.alarm-btn img {
  display: block;
  width: 16px;
  height: 18px;
}

.home-main {
}

.hero-banner {
  position: relative;
  margin: 8px 12px 0 13px;
  border-radius: var(--spacing-4);
  overflow: hidden;
}
.hero-banner-image {
  display: block;
  width: 100%;
  height: 320px;
  object-fit: cover;
}

.hero-banner-content {
  position: absolute;
  inset: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-poster {
  width: 115px;
  height: 165px;
  border-radius: var(--spacing-4);
  object-fit: cover;
}

.hero-text {
  position: absolute;
  left: 15px;
  bottom: 17px;
  color: var(--green-100);
}
.hero-title {
  font-size: var(--size-lg);
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.02em;
}
.star-icon {
  width: 12px;
  height: 12px;
  display: block;
  transform: translateY(1px);
}

.hero-desc {
  font-size: var(--size-sm);
  font-weight: 300;
  line-height: 16px;
  letter-spacing: -0.02em;
  display: flex;
  align-items: center;
  gap: 2px;
  white-space: nowrap;
}

.quick-menu {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 20px 30px 0px 30px;
  gap: 60px;
}

.quick-item {
  font-family: "Pretendard", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  background: none;
}

.quick-icon {
  width: 34px;
  height: 34px;
  aspect-ratio: 1/1;
  height: auto;
  object-fit: contain;
}

.quick-item span {
  font-size: 10px;
  line-height: 12px;
  letter-spacing: -0.02em;
  /* align-items: center; */
  /* justify-content: center; */
}

.movie-section {
  margin: 40px 0 0 15px;
}

.section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-title {
  font-size: var(--size-lg);
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.02em;
}

.section-more-btn {
  border: none;
  background: none;
  padding: 6px 9px 6px 9px;
  cursor: pointer;
}

.section-more-icon {
  display: block;
  width: 6px;
  height: 12px;
}
.movie-list {
  display: flex;
  gap: 7px;
  margin-top: 12px;
  overflow-x: auto;
  scrollbar-width: none;
}

.movie-list::-webkit-scrollbar {
  display: none;
}

.movie-card {
  flex: 0 0 110px;
}

.movie-thumbnail {
  position: relative;
  width: 100%;
  aspect-ratio: 110/160;
  border-radius: var(--spacing-4);
  overflow: hidden;
}

.movie-rank {
  position: absolute;
  left: 5px;
  bottom: 5px;
  width: 35px;
  height: 20px;
  z-index: 1;
}

.movie-poster {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.movie-title {
  margin-top: 4px;
  font-size: var(--size-md);
  font-weight: 300;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.movie-info {
  font-size: var(--size-sm);
  font-weight: 300;
  line-height: 16px;
  letter-spacing: -0.02em;
  display: flex;
}

.upcoming-section {
  margin: 40px 15px 0px 15px;
}

.upcoming-card {
  flex: 0 0 110px;
}
.upcoming-thumbnail {
  position: relative;
  width: 100%;
  aspect-ratio: 110px / 160px;
  border-radius: 4px 4px 0 0;
  overflow: hidden;
}

.upcoming-overlay {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 25px;
  background: #07292b;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0 0 4px 4px;
}

.wish-btn {
  border: none;
  background: none;
  padding: 3px;
  display: flex;
  /* align-items: center;
  justify-content: center; */
  cursor: pointer;
}

.wish-icon {
}

.wish-count {
  font-size: var(--size-sm);
  font-weight: 300;
  line-height: 16px;
  letter-spacing: -0.02em;
  color: var(--green-100);
  padding-right: 5px;
}

.upcoming-date {
  font-size: var(--size-sm);
  font-weight: 300;
  line-height: 16px;
  letter-spacing: -0.02em;
  color: var(--pink-500);
}
/* news */
.news-section {
  margin: 40px 15px 0px 15px;
}

.news-card {
  margin-top: 10px;
  border-radius: var(--spacing-4);
  overflow: hidden;
}
.news-image {
  display: block;
  width: 100%;
  height: 190px;
  object-fit: cover;
}
.news-content {
}
.news-category-row {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.news-category-icon {
  width: 18px;
  height: 18px;
  display: block;
}
.news-category {
  /* font-size: var(--size-sm);
  font-weight: 300;
  line-height: 16px;
  letter-spacing: -0.02em; */
  color: var(--neutral-700);
}

.news-title-row {
  display: flex;
  align-items: center;
}
.news-title-icon {
  width: 18px;
  height: 18px;
}
.news-desc {
  color: var(--neutral-700);
}

/* comment */
.comment-section {
  margin: 40px 15px 0px 15px;
}

.comment-list {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  scrollbar-width: none;
}

.comment-list::-webkit-scrollbar {
  display: none;
}
.comment-card {
  margin-top: 10px;
  flex: 0 0 95%;
  border: 1px solid var(--neutral-200);
  border-radius: var(--spacing-4);
  background: var(--neutral-50);
  height: 165px;
}

.comment-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.comment-user {
  display: flex;
  align-items: center;
  margin: 10px 0 0 10px;
  gap: 4px;
}
.comment-profile {
  width: 20px;
  height: 20px;
  display: block;
}

.comment-rating {
  display: flex;
  align-items: center;

  margin-right: 10px;
}

.rating--star {
  width: 12px;
  height: 12px;
  display: block;
}

.comment-middle {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin: 10px 0 0 10px;
}

.comment-poster {
  width: 50px;
  height: 75px;
  object-fit: cover;
  display: block;
  border-radius: var(--spacing-4);
}

.comment-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.comment-movie-title {
  font-weight: 500;
}

.comment-text {
  color: var(--neutral-600);
}
.comment-divider {
  width: 320px;
  margin: 10px auto;
  border-top: 1px solid var(--neutral-200);
}
.comment-bottom {
  margin: 10px 0 0 10px;

  display: flex;
  align-items: center;
}
.comment-meta-btn {
  display: flex;
  align-items: center;
  gap: 3px;
  padding: 2px;
  cursor: pointer;
  border: none;
}

.comment-meta-icon {
  width: 14px;
  height: 14px;
  display: block;
}

.comment-meta-btn span {
  font-size: var(--size-xs);
  font-weight: 300;
  line-height: 12px;
  letter-spacing: -0.02em;
  color: var(--neutral-500);
}

/* event */
.event-section {
  margin: 40px 15px 0px 15px;
}

.event-card {
  margin-top: 15px;
  overflow: hidden;
}
.event-image {
  border-radius: 4px 4px 0 0;
  display: block;
  width: 100%;
  aspect-ratio: 340/165;
  object-fit: cover;
  border: 1px solid var(--neutral-200);
  border-bottom: none;
}
.event-banner-btn {
  position: relative;
  width: 100%;
  height: 35px;
  background: var(--green-700);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0 0 4px 4px;
  border: none;
  padding: 10px;
}

.event-banner-text {
  color: var(--green-100);
  /* padding: 10px; */
}
.event-banner-icon {
  width: 24px;
  height: 24px;
}
/* recommend */

.recommend-cta {
  padding: 0 106px;
  text-align: center;
}

.recommend-cta-title {
  margin-top: 70px;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.02em;
}

.recommend-cta-btn {
  width: 115px;
  height: 35px;
  border: none;
  border-radius: var(--spacing-4);
  color: var(--green-100);
  background: var(--pink-500);
  cursor: pointer;
  display: block;
  margin: 15px 130px 180px 130px;
}
.bottom-bar {
  position: fixed;
  width: 100%;
  height: 60px;
  max-width: 375px;

  z-index: 1100;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}
.bottom-bar-image {
  display: block;
  width: 100%;
  height: 60px;
}

/* home-second */
.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.login-modal {
  width: 270px;
  height: 120px;
  border-radius: 14px;
  background: var(--green-100);
  overflow: hidden;
}
.login-modal-text {
  padding: 19px 16px 15px 16px;
  text-align: center;
  color: var(--neutral-900);
}
.login-modal-btn {
  width: 100%;
  height: 44px;
  border: none;
  border-top: 0.5px solid rgba(128, 128, 128, 0.55);
  color: var(--info-text);
  font-weight: 400;
}

/* recommend */
.recommend-page {
  width: 100%;
  max-width: 375px;
  min-height: 100vh;
  margin: 0 auto;
}

.rec-header {
  height: 30px;
  padding: 0 0 0 15px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.back-btn {
  border: none;
  background: none;
  padding: 0px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.back-btn img {
  width: 16px;
  height: 16px;
  display: block;
  object-fit: contain;
}

.rec-header h1 {
  font-size: 18px;
  font-weight: 500;
}

.rec-tabs {
  width: 100%;
  display: flex;
  border-bottom: 1px solid var(--neutral-200);
  margin-top: 25px;

  height: 30px;
}

.rec-tabs > button {
  flex: 1;
  border: none;
  position: relative;
  display: flex;
  height: 30px;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}
.tab-active {
  border: none;
}
.rec-tabs > button.active::after {
  width: 100%;
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;

  height: 2px;
  background: #000;
}

.rec-filter {
  display: flex;
  gap: 10px;
  padding: 15px 0px 15px 15px;
}
.rec-filter button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 30px;
  border: none;
  border-radius: var(--spacing-8);
  background: var(--neutral-50);
  color: var(--neutral-800);
}

.rec-filter button img {
  width: 16px;
  height: 12px;
}

.rec-toggle {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 0px 0 0 15px;
}
.rec-toggle input {
  display: none;
}

.toggle-text {
  display: flex;
}
.toggle-ui {
  position: relative;
  width: 30px;
  height: 15px;
  border-radius: var(--spacing-8);
  background: #d9d9d9;
}

.toggle-ui::before {
  content: "";
  position: absolute;
  width: 11px;
  height: 11px;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  background: var(--green-100);
  transition: 0.2s;
}
.rec-toggle input:checked + .toggle-ui {
  background: var(--info-default);
}

.rec-toggle input:checked + .toggle-ui::before {
  transform: translateX(14px);
}

.rec-title {
  padding: 28px 0 15px 15px;
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: -0.02em;
}

.rec-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0 15px;
}

.rec-card {
  border: 1px solid var(--neutral-200);
  border-radius: var(--spacing-8);
  overflow: hidden;
  background: var(--neutral-50);
}

.rec-thumb {
  position: relative;
  height: 195px;
}

.rec-thumb img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  border: none;
  border-radius: 8px 8px 0 0;
}
.score-badge {
  position: absolute;
  left: 15px;
  bottom: 15px;
  width: 65px;
  height: 20px;
  display: flex;
  overflow: hidden;
  border-radius: var(--spacing-4);
}

.score-badge span {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.score-badge span:first-child {
  background: var(--green-100);
  color: var(--pink-500);
  font-size: var(--size-sm);
  font-weight: 300;
  line-height: 16px;
  letter-spacing: -0.02em;
}
.score-badge span:last-child {
  background: var(--pink-500);
  color: var(--green-100);
  font-size: var(--size-sm);
  font-weight: 300;
  line-height: 16px;
  letter-spacing: -0.02em;
}

.rec-card-body {
  padding: 15px 15px 25px 15px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.rec-card-body h3 {
  font-size: var(--size-lg);
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.02em;
}

.rec-card-body p {
  color: var(--neutral-400);
}

.bookmark-btn {
  width: 16px;
  height: 16px;
  border: none;
  background: none;
}

.reason-list {
  padding: 0 20px 28px 20px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.reason-list li {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: var(--size-sm);
  font-weight: 300;
  line-height: 16px;
  letter-spacing: -0.02em;
  color: var(--neutral-600);
}

.user-icon {
  flex-shrink: 0;
  width: 22px;
  height: 22px;
  border-radius: 999px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.reason-icon-tag {
  flex-shrink: 0;
  width: 22px;
  height: 22px;
  border-radius: 999px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--pink-500);
  color: var(--green-100);
  font-size: var(--size-lg);
}
.tag-cta {
  padding: 114px 16px 0;
  text-align: center;
}

.tag-cta p {
  font-size: 16px;
  font-weight: 400;
  color: #111;
  margin-bottom: 14px;
}

.tag-cta button {
  width: 115px;
  height: 35px;
  border: 0;
  border-radius: 4px;
  background: var(--pink-500);
  color: var(--green-100);
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 90px;
}

/* detail=page */
.detail-page {
  width: 100%;
  max-width: 375px;
  min-height: 100vh;
  margin: 0 auto;
  padding-bottom: 90px;
  background-color: var(--neutral-100);
}

.detail-hero {
  position: relative;
  height: 200px;
  overflow: hidden;
}

.hero-bg {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.hero-top {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
}
.status-bar {
  width: 100%;
  display: block;
}
.hero-nav {
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-nav button {
  border: none;
  padding: 4px;
}
.hero-nav img {
  width: 16px;
  height: 16px;
}

.poster-img {
  width: 65px;
  height: 95px;
  border-radius: 4px;
  object-fit: cover;
}
.hero-info {
  position: absolute;
  left: 15px;
  bottom: 15px;
  z-index: 2;
  display: flex;
  align-items: flex-end;
  gap: 6px;
}
.movie-title-box h1 {
  font-size: var(--size-lg);
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: var(--green-100);
}
.movie-title-box p {
  font-size: var(--size-xs);
  font-weight: 300;
  line-height: 12px;
  letter-spacing: -0.02em;
  color: var(--neutral-400);
}

.rating-section {
  background-color: var(--green-100);
  margin-bottom: 15px;
}

.rating-section p {
  height: 35px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  gap: 2px;
  border-bottom: 0.5px solid var(--neutral-200);
}
.expected {
  color: var(--pink-500);
}

.average {
  color: var(--neutral-600);
}
.rating-star {
  width: 8px;
  height: 8px;
  display: inline-flex;
  vertical-align: 1px;
}
.star-box {
  height: 75px;
  position: relative;
  flex-direction: column;
  /* padding: 0 105px 15px 104px; */
  align-items: center;
  justify-content: center;
  display: flex;
}

.stars {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.stars img {
  width: 30px;
  height: 30px;
  display: block;
}
.star-box span {
  display: inline;
  align-items: center;
  margin-bottom: 5px;
  color: var(--neutral-400);
}

.star-box::after {
  content: "";
  position: absolute;
  left: 13px;
  right: 12px;
  bottom: 0;
  height: 0.5px;
  background: var(--neutral-200);
}
.action-menu {
  height: 60px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  text-align: center;

  justify-content: center;
}

.action-menu li {
  font-size: var(--size-xs);
  font-weight: 300;
  line-height: 12px;
  letter-spacing: -0.02em;
}

.action-menu span {
  color: var(--neutral-400);
}
.action-menu button {
  width: 100%;
  height: 100%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2px;
}

.action-menu img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.detail-section {
  margin-top: 15px;
  background: var(--green-100);
  border-bottom: 1px solid var(--neutral-200);
  padding: 15px;
}

.detail-section h2 {
  font-weight: 500;
  margin-bottom: 15px;
}

.detail-section p {
}
.reason-item {
  display: flex;
  align-items: center;
  gap: 5px;
}

.reason-item img {
  width: 22px;
  height: 22px;
}
/* .reason-item p,
.desc {
  font-size: 11px;
  font-weight: 300;
  line-height: 12px;
  letter-spacing: -0.02em;
} */

.desc {
  margin-bottom: 15px;
}
.info-list {
  display: flex;
  width: 100%;
  margin-left: -15px;
  border-top: 0.5px solid var(--neutral-200);
  overflow: hidden;
  margin-left: -16px;
  margin-right: -16px;
  width: calc(100% + 32px);
}
.info-list li {
  position: relative;
  flex-shrink: 0;
  width: auto;
  min-width: 78px;
  padding: 14px 12px 0;
}

.info-list li:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 0;
  top: 18px;
  width: 1px;
  height: 28px;
  background: var(--neutral-200);
}

.info-list li span {
  display: block;
  font-size: 10px;
  line-height: 1.25;
  color: var(--neutral-500);
  white-space: nowrap;
}

.info-list li span:last-child {
  overflow: hidden;
  text-overflow: clip;
}
.watch-section {
  background: var(--green-100);
  margin-bottom: 10px;
}
.watch-section h2 {
  margin-bottom: 20px;
  font-weight: 500;
}
.watch-tab {
  position: relative;
  border-bottom: 0.5px solid var(--neutral-200);
  margin-bottom: 20px;
}
.watch-tab::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  background: var(--neutral-200);
}

.watch-tab button {
  position: relative;
  z-index: 1;
  width: 60px;
  padding: 0 0 8px;
  border: 0;
  background: transparent;
  font-family: inherit;
  font-weight: 500;
}

.watch-tab button.active::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 60px;
  height: 2px;
  background: #000;
  z-index: 3;
}
.watch-platform {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.platform-info {
  display: flex;
  align-items: center;
  gap: 5px;
}
.platform-icon {
  width: 30px;
  height: 30px;
}
.comming-btn {
  width: 55px;
  height: 25px;
  border: 0;
  border-radius: var(--spacing-4);
  background: var(--neutral-100);
}
.notice-text {
  color: var(--neutral-400);
  margin-bottom: 13px;
}
.report-btn {
  width: 100%;
  height: 35px;
  border: 1px solid var(--neutral-200);
  border-radius: var(--spacing-4);
  color: var(--neutral-400);
}
.cast-section {
  background: var(--green-100);
}

.cast-section h2 {
  font-weight: 500;
  margin-bottom: 20px;
}
.cast-list li {
  border-bottom: 1px solid var(--neutral-200);
}
.cast-list li:last-child {
  border-bottom: none;
}
