@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

/* 디자인 토큰 */
:root {
  /* colors */
  /* primary */
  --pink-100: #ffd1e0;
  --pink-200: #ff9ebe;
  --pink-300: #ff6b9c;
  --pink-400: #ff3388;
  --pink-500: #ff0558;
  --pink-600: #d10045;

  --pink-700: #9e0034;
  --pink-800: #6b0024;
  --pink-900: #380013;

  /* secondary */
  --green-100: #feffff;
  --green-200: #d2f6f8;
  --green-300: #a6edf1;
  --green-400: #7ae4ea;
  --green-500: #4edce3;
  --green-600: #23d2db;
  --green-700: #1ca8af;
  --green-800: #157e83;
  --green-900: #0e5457;

  /* neutral */
  --neutral-50: #f5f5f5;
  --neutral-100: #eef0f1;
  --neutral-200: #d1d8db;
  --neutral-300: #b4bfc5;
  --neutral-400: #97a6af;
  --neutral-500: #7a8e99;
  --neutral-600: #62747e;
  --neutral-700: #4b5a62;
  --neutral-800: #353f45;
  --neutral-900: #1f2528;

  /* semantic */
  --error-default: #ff4d4d;
  --error-bg: #ffe5e5;
  --error-text: #b34d4d;
  --warning-default: #ff9933;
  --warning-bg: #fff2e5;
  --warning-text: #f2800d;
  --success-default: #4caf50;
  --success-bg: #eaf6eb;
  --sucesss-text: #3d8b40;
  --accent-default: #e61e60;
  --accent-soft: #f07aa1;
  --accent-text: #bc154c;
  --caution-default: #ffe91d;
  --caution-bg: #fffacf;
  --caution-text: #000;
  --info-default: #3184df;
  --info-bg: #e2edfa;
  --info-text: #175293;

  /* spacing */
  --spacing-4: 4px;
  --spacing-8: 8px;
  --spacing-12: 12px;
  --spacing-16: 16px;
  --spacing-20: 20px;
  --spacing-24: 24px;

  /* font size */
  --size-xxs: 8px;
  --size-xs: 10px;
  --size-sm: 12px;
  --size-md: 14px;
  --size-lg: 16px;
  --size-xl: 18px;
  --size-2xl: 20px;
  --size-2xl: 22px;
  --size-3xl: 24px;
  --size-4xl: 26px;
  --size-5xl: 28px;
  --size-6xl: 30px;
  --size-7xl: 32px /* System Token */ /* Background */
    --color-bg-primary: var(--gray-50);
  --color-bg-inverse: var(--gray-900);

  /* Text */
  --color-text-primary: var(--gray-900);
  --color-text-inverse: var(--gray-50);

  /* responsive */
  /* layout spacing */
  --layout-padding-sm: 16px;
  --layout-padding-md: 24px;

  /* container */
  --container-max: 1280px;
}

/* typography */
.heading-1 {
  font-size: var(--size-5xl);
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.02em;
}
.heading-2 {
  font-size: var(--size-3xl);
  font-weight: 600;
  line-height: 36px;
  letter-spacing: -0.02em;
}
.heading-3 {
  font-size: var(--size-xl);
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.02em;
}
.body {
  font-size: var(--size-lg);
  font-weight: 300;
  line-height: 24px;
  letter-spacing: -0.02em;
}
.caption {
  font-size: var(--size-md);
  font-weight: 300;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.sm {
  font-size: var(--size-sm);
  font-weight: 300;
  line-height: 16px;
  letter-spacing: -0.02em;
}

.xs {
  font-size: var(--size-xs);
  font-weight: 300;
  line-height: 12px;
  letter-spacing: -0.02em;
}

.xxs {
  font-size: var(--size-xxs);
  font-weight: 300;
  line-height: 10px;
  letter-spacing: -0.02em;
}

/* css 리셋 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
}
body {
  overflow-x: hidden;
  font-size: var(--size-md);
  color: var(--caution-text);
  background-color: var(--color-bg-primary);
  font-family: "Pretendard", sans-serif;
}
ul,
li {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 0;
}
/* Component Token */
/* Layout */
.layout {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container {
  position: relative;
  width: 100%;
  max-width: var(--container-max);
  flex: 1;
  padding: 0 16px;
  background-color: #feffff;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--spacing-16);
}
/* .thumbnail {
  overflow: hidden;
  /* min-width: 350px; */
/* min-height: 320px; 
  aspect-ratio: 350/320;
  border-radius: var(--spacing-4);
} */

/* .card-thumbnail {
  overflow: hidden;
  aspect-ratio: 115/165;
} */

@media screen and (min-width: 768px) {
  .container {
    padding: 0 24px;
  }
  /* 
  .card-container {
    grid-template-columns: repeat(3, 1fr);
    gap: var(--spacing-20);
  } */
}
@media screen and (min-width: 1024px) {
  .container {
    padding: 0 40px;
  }
}

/* button */
/* .btn { */
/* 기본 스타일 제거 */
/* appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  border: none;
  background: none;
  padding: 0;
  margin: 0; */
/* cursor: pointer; */
/* background-color: var(--pink-500);
  color: var(--neutral-100);
  padding: var(--spacing-16) var(--spacing-12);
  border-radius: var(--spacing-12);
  width: 100%;
  font-weight: 500;
}
button:focus-visible {
  outline: 2px solid #523dee;
  outline-offset: 2px;
} */

/* 비활성 상태 */
/* button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
} */

.login-wrap {
  width: 100%;
  max-width: 375px;
  min-height: 812px;
  margin: 0 auto;
  background: #e80e57;
}

.hero {
  position: relative;
  height: 610px;
  background:
    linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 89%),
    #f0065d;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-title {
  color: var(--neutral-100);
  margin-top: 83px;
}
.logo {
  margin-top: 116px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-logo {
  width: 200px;
  height: 160px;
  object-fit: contain;
  display: block;
}
.hero-text {
  text-align: center;
  color: var(--neutral-100);
  margin-top: -10px;
}

.login-actions {
  background: #ffffff;
  padding: 18px 18px 16px 18px;
}

.login-btn {
  width: 100%;
  max-width: 345px;
  height: 40px;
  border: none;
  border-radius: var(--spacing-4);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
  margin: 0 auto 8px;
}
.login-btn.kakao {
  background: var(--caution-default);
  color: (var(--caution-text));
}
.btn-icon {
  position: absolute;
  left: 10px;
  width: 16px;
  height: 15px;
}

.login-btn span {
  display: inline-block;
}
.login-btn.google,
.login-btn.email {
  background: #ffffff;
  color: var(--caution-text);
  border: 0.5px solid var(--neutral-300);
}
.login-btn.option {
  background: #ffffff;
}

/* onboarding */
.onboarding {
  width: 100%;
  max-width: 375px;
  min-height: 812px;
  margin: 0 auto;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.status-bar {
  width: 100%;
  /* align-self: stretch; */
  padding: 0 14px;
}

.status-bar img {
  display: block;
  width: 100%;
  height: auto;
}
.onboarding-logo {
  width: 234px;
  height: auto;
  /* object-fit: contain; */
  display: block;
}
.onboarding-title {
  margin-top: 39px;
}

.onboarding-text {
  color: var(--neutral-500);
}

.onboarding-actions {
  width: 100%;
  margin-top: 86px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 17px 0 18px;
}

.signup,
.guest {
  width: 100%;
  height: 48px;
  border: none;
  border-radius: var(--spacing-24);
  font-size: var(--size-xl);
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.02em;
}

.signup {
  background: var(--pink-500);
  color: var(--green-100);
}

.guest {
  background: var(--neutral-100);
  color: var(--caution-text);
}

/* signup */
.signup-page {
  width: 100%;
  max-width: 375px;
  min-height: 812px;
  margin: 0 auto;
  padding: 0 20px 101px;
  background: #ffffff;
}
.signup-title {
  text-align: center;
  margin-top: 30px;
}
.signup-form {
  margin-top: 30px;
}
.form-group + .form-group {
  margin-top: 10px;
}
.form-label {
  display: block;
  font-size: var(--size-md);
  font-weight: 300;
  line-height: 20px;
  letter-spacing: -0.02em;
}
.password-wrap {
  position: relative;
}

.password-wrap.form-input {
  padding-right: 6px;
}
.toggle-password {
  display: none;
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  border: none;
  background: transparent;
  color: var(--neutral-500);
  font-size: var(--size-sm);
  cursor: pointer;
}

.eye-icon {
  display: block;
  width: 16px;
  height: 16px;
}

.password-wrap.has-value .toggle-password {
  display: block;
}
.form-input {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: var(--spacing-4);
  background: var(--neutral-100);
  padding-left: 6px;
  color: var(--caution-text);
  font-size: var(--size-sm);
  line-height: 16px;
  letter-spacing: -0.02em;
}

.form::placeholder {
  color: var(--neutral-400);
}
.form-input:focus {
  outline: none;
  border: 1px solid var(--pink-500);
  background: #ffffff;
}
.input-row {
  display: grid;
  grid-template-columns: 1fr 120px;
  gap: 21px;
}

.form-btn:disabled,
.submit-btn:disabled {
  height: 40px;
  border-radius: var(--spacing-4);
  background: var(--neutral-100);
  color: var(--caution-text);
  cursor: not-allowed;
  border: none;
}

.form-btn:not(:disabled),
.submit-btn:not(:disabled) {
  background: var(--pink-500);
  color: var(--green-100);
  cursor: pointer;
  border: none;
  border-radius: var(--spacing-4);
}

.submit-btn {
  width: 100%;
  height: 48px;
  margin-top: 66px;
  border: none;
  border-radius: var(--spacing-4);
  background: var(--neutral-100);
  color: var(--neutral-400);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.02em;
}
.password-message,
.email-message,
.birth-message,
.phone-message,
.password-rule-message {
  margin-top: 6px;
  font-size: 12px;
  color: var(--pink-500);
  text-align: left;
}
